/* shared embed-wrapper for iframe embeds */

.embed-wrapper {
	align-items: center;
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: 0;

	& iframe {
		border: none;
		width: min(100vw, calc(100dvh * 16 / 9));
		height: min(100dvh, calc(100vw * 9 / 16));
	}
}
